body#body div#authContainer .form-container-holder {
  padding: 0;
  background: #eef1f4;
}

body#body div#authContainer form {
  background: #161940;
  padding: 90px 20px 10px 20px;
  color: #fff;
}

body#body div#authContainer form .form-row {
  margin: 8px auto;
}

body#body div#authContainer form .form-row .form-holder {
  background: transparent;
  padding: 8px 20px;
}

body#body div#authContainer form .form-row .form-holder:hover {
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transform: scale(1.02);
}

body#body div#authContainer form .form-icon {
  font-size: 20px;
  margin-right: 18px;
  color: #a1a1a1;
}

body#body div#authContainer form label,
form .section-header {
  color: #a1a1a1;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  position: relative;
}

body#body div#authContainer form .form-row .form-holder .form-control {
  border: none;
  background: #eef1f4;
  padding: 0;
  margin: 0;
  height: fit-content;
  position: relative;
  top: -2px;
  border-radius: 0;
}

body#body div#authContainer form .form-holder:hover .form-control {
  background: #fff;
}

body#body div#authContainer form .form-row .form-holder .form-control,
body#body div#authContainer form .form-row .form-holder .form-control:focus,
body#body div#authContainer form .form-row .form-holder .form-control:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #161940 inset;
  box-shadow: 0 0 0 100px #161940 inset;
  border: none;
  outline: none;
  -webkit-text-fill-color: #eef1f4;
}

body#body div#authContainer form .form-row .form-holder:hover .form-control,
body#body div#authContainer form .form-row .form-holder:hover .form-control:focus,
body#body div#authContainer form .form-row .form-holder:hover .form-control:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #fff inset;
  box-shadow: 0 0 0 100px #fff inset;
  background: #fff;
  outline: none;
  -webkit-text-fill-color: #161940;
}

body#body div#authContainer form .form-row .form-holder .form-control:-webkit-autofill:hover,
body#body div#authContainer form .form-row .form-holder .form-control:-webkit-autofill:focus,
body#body div#authContainer form .form-row .form-holder .form-control:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px #161940 inset;
  box-shadow: 0 0 0 100px #161940 inset;
  border: none;
  outline: none;
  -webkit-text-fill-color: #eef1f4;
}

body#body div#authContainer form .form-row .form-holder:hover .form-control:-webkit-autofill:hover,
body#body div#authContainer form .form-row .form-holder:hover .form-control:-webkit-autofill:focus,
body#body div#authContainer form .form-row .form-holder:hover .form-control:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px #fff inset;
  box-shadow: 0 0 0 100px #fff inset;
  background: #fff;
  outline: none;
  -webkit-text-fill-color: #161940;
}

body#body div#authContainer form .form-validation-response {
  padding: 18px 10px 0 10px;
}

body#body div#authContainer form .form-row .form-holder.form-holder-select {
  padding: 0;
  overflow: hidden;
  text-align: center;
}

body#body div#authContainer form .form-holder-select label {
  width: 100%;
  height: 100%;
  padding: 10px 25px;
  cursor: pointer;
}

body#body div#authContainer form .form-holder-select label i {
  display: block;
  font-size: 300%;
}

body#body div#authContainer form input[type='radio']:checked + label {
  color: #161940;
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

body#body div#authContainer form .button-group {
  margin: 0.5rem 0;
  position: relative;
  top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body#body div#authContainer form .button-group .btn {
  margin: 0.5rem;
}

@media (min-width: 576px) {
  body#body div#authContainer .form-container-holder {
    background: #161940;
  }
}

@media (min-width: 992px) {
  body#body div#authContainer .form-container-holder {
    background: #eef1f4;
  }
}

@media (min-width: 992px) {
  body#body div#authContainer form {
    background: #eef1f4;
    padding: 0;
    color: #161940;
    margin-right: 3.5rem;
  }
}

@media (min-width: 992px) {
  body#body div#authContainer form .button-group {
    margin: 0.5rem 0;
    position: static;
    justify-content: start;
  }
}

@media (min-width: 992px) {
  body#body div#authContainer form .form-row .form-holder {
    background: #eef1f4;
  }
}

@media (min-width: 992px) {
  body#body div#authContainer form .form-row .form-holder:hover {
    background: #fff;
  }
}

@media (min-width: 992px) {
  body#body div#authContainer form .form-row .form-holder .form-control,
  body#body div#authContainer form .form-row .form-holder .form-control:focus,
  body#body div#authContainer form .form-row .form-holder .form-control:-webkit-autofill,
  body#body div#authContainer form .form-row .form-holder .form-control:-webkit-autofill:hover,
  body#body div#authContainer form .form-row .form-holder .form-control:-webkit-autofill:focus,
  body#body div#authContainer form .form-row .form-holder .form-control:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 100px #eef1f4 inset;
    box-shadow: 0 0 0 100px #eef1f4 inset;
    background: #eef1f4;
    -webkit-text-fill-color: #161940;
  }
}

@media (min-width: 992px) {
  body#body div#authContainer form input[type='radio']:checked + label {
    background: #161940;
    color: #fff;
  }
}
